$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$grey : #f6f6f6;

$breakpoints: (
  mobile: 600px,
  tablette: 900px,
  desktop: 1200px,
);

@mixin box-shadow {
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

@mixin logo {
        font-family: "Shrikhand", "cursive";
        font-size: 1.5rem;
        padding: 15px;
}

@mixin button {
    border: 0;
    height: 50px;
    width: 200px;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 100px;
    align-items: center;
    color: white;
    background: linear-gradient($color-secondary,$color-primary);
    cursor: pointer;
    @include box-shadow;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


@keyframes heart {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        }
    }

@keyframes jump {
        0% {
          transform: translateY(0);
        }
        25% {
          transform: translateY(0.5rem);
        }
        75% {
          transform: translateY(-0.5rem);
        }
        100% {
          transform: translateY(0);
        }
    }

body, html {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: $grey;
    
    h1 {
    font-size: 1.4em;
    }

    h2 {
    font-size: 1.4em;
    margin: 0px 0px 25px 0px;
    }

    p {
        font-size: 14px; 
        margin: 0px;
    }
   
    a {
        text-decoration: none;
        color: white;
        cursor: grab;
        &:visited {
         color: inherit; }
    }
}

/*HEADER*/

header {
    text-align: center;
    box-shadow: 0px 2px 10px 3px rgba($color: #d5d5d5, $alpha: 1);
    .logo {
        @include logo;
    }
}

/* FOOTER */


footer {
    background-color: #353535;
    color: white;
    padding: 20px ;
   
    .logo {
        @include logo;
        font-size: 1rem;
        padding: 0px 0px 20px 0px;
    }

    & a {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        & i {
            height: 10px;
            width: 10px;
            margin: 0px 20px 0px 0px;
        }
}
    ul {
    list-style: none;
    padding: 0px;
    }
}

