@import "./base.scss";
@import "./homepage.scss";

@media only screen and (min-width: 900px) {
    .blocboxmenu {
        display:flex;
        margin-bottom: 50px;
    
    .boxmenu {
        min-width: 30%;
        margin: 10px;
        justify-content: space-between;
    }}
}


header a {
    position: relative;
    display: flex;
    align-items : center;
    justify-content: center;

    i {
        position: absolute;
        left : 30px;
    }
}

.imgmenu {
    width: 100%;
    height: 250Px;
    object-fit: cover;
}

.menu {
    
    padding: 15px;
    background-color: $grey;
    display: flex;
    transform: translateY(-40px);
    flex-direction: column;
    border-radius: 25px 25px 0px 0px;
    position: relative;
    
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10px 30px 0px;}
        
        p {
            @include logo;
            padding: 0px;   
        }
        
        .heart { 
        &__vide, &__plein {
            top : -20px;
            right: 10px;}
        }
    }

.boxmenu {
    margin: 0px 0px 30px 0px;

    &__title::after {
        content: "";
        margin: 5px 0px 15px 0px;
        display: block;
        width : 40px;
        height: 3px;
        background-color: $color-tertiary; }
}

.foodbox {
    @include box-shadow;
    position: relative;
    max-width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    transform-origin: top;
    animation: jump 2000ms 300ms;
    overflow: hidden;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    
    
   

  &__animation {
        position:absolute;
        background-color: #99e2d0;
        top:0;
        left:100%;
        width: 25%;
        height: 100%;
        border-radius: 0px 10px 10px 0px;
        @include box-shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4em;
        transition : transform 450ms;
        
        .fas.fa-check-circle {
            color: white;
        }
        
    }

    &__title {
        margin: 5px 0px 5px 0px;
        font-size: 17px;
        max-width: 80%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .foodbox-text {
    display: flex;
    justify-content: space-between;
    

    &__description {
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
         overflow: hidden;
    }

    &__price {
        font-weight: bold;
        margin: 0px 10px 0px 0px;
    }
}  

 &:hover, &:active {
        border-radius: 10px 0px 0px 10px;
        overflow: visible;
        margin-right : 20%;
        animation-fill-mode: forwards;

        .fas.fa-check-circle {
            animation : rotate 0.5s;
        }
}
}



button { 
    &.btn__menu {
    margin: auto;
    display: flex;
    justify-content: center;
    @include button;
    margin-bottom: 0px;
}}